<!-- <div class="ui card">
  <div class="content">
    <div class="header">{{recipe.recipeName}}</div>
  </div>
</div> -->


<div 
  class="ui card">
  <div class="ui medium image">
    <img src={{recipe.imagePath}}>
  </div>
  <div class="content">
    <div class="header">
      {{recipe.recipeName}}
    </div>
    <div class="description">
      {{recipe.recipeDescription}}
    </div>
  </div>
  <div class="extra content">
    <div class="ui two buttons">
      <div class="ui primary red button">View</div>
      <div class="ui button">Edit</div>
    </div>
  </div>
</div>